{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Umetex - Переводчик медицинских документов</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header_block">
                    <div class="logo">
                        <a href="#"><img src="{% static 'img/logo.svg' %}" alt=""></a>
                    </div>
                    <div class="title_header">
                        <h1>Переводчик <span>медицинских</span> документов</h1>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="file_upload">
                <div class="container">
                    <div class="upload-container" id="uploadContainer">
                        <img src="{% static 'img/upload-file.svg' %}" alt="Upload Icon">
                        <h2>Загрузите документ для перевода</h2>
                        <p>Перетащите файл или <button onclick="document.getElementById('fileInput').click()">выберите нужный</button></p>
                        <input type="file" id="fileInput" style="display:none">
                    </div>   
                    <div class="info_upload">
                        <p>Поддерживаемые форматы:
                            <span>
                                {% for format in supported_formats %}
                                    {{ format }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="history_file">
              <div class="container">
                  <div class="title_history">
                      <h2>История переводов</h2>
                  </div>
                  <div class="table_history">
                      <table class="document-table">
                          <thead>
                              <tr>
                                  <th>Название</th>
                                  <th>Язык перевода</th>
                                  <th>Вес файла</th>
                                  <th>Дата</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for document in page_obj %}
                            <tr>
                                <td>{{ document.title }}</td>
                                <td>{{ document.get_translation_language_display }}</td>
                                <td>
                                    {% if document.original_file %}
                                        {{ document.original_file.size|filesizeformat }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>{{ document.uploaded_at|date:"d.m.Y" }}</td>
                                <td>
                                    {% if document.translated_file %}
                                        <a href="{{ document.translated_file.url }}" class="download-btn">Скачать перевод</a>
                                    {% else %}
                                        <a href="{{ document.original_file.url }}" class="download-btn">Скачать</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                      <div class="pagination">
                          {% if page_obj.has_previous %}
                          <a href="?page=1">&laquo; Первая</a>
                          <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
                          {% endif %}
                          <span class="current">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                          {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}">Вперёд</a>
                          <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>          
        </main>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
